doctype html
html(lang='en-US')
	head
		meta(charset='utf-8')
		meta(name='description' content='')
		meta(name='keywords' content='')
		meta(name='viewport' content='width=device-width, initial-scale=1.0')
		link(href='../styles/style.css' rel='stylesheet')
		link(href='../assets/icons/favicon.svg' rel='shortcut icon')
		title Fun Drum Kit
	body