doctype html
html(lang='en-US')
	<head>
		meta(charset='utf-8')
		meta(name='description' content='')
		meta(name='keywords' content='')
		meta(name='viewport' content='width=device-width')
		title JavaScript Drum Kit
	</head>
	<body>
		header
		main
		footer
	</body>